body{
  color: #000;
}

nav.menu{
  position: absolute;
  left: 120px;
  top: 20px;
  width: 400px;
}

nav.menu ul{
  padding:0;
  list-style: none;
  margin: 0;
}

nav.menu ul.first{
  margin-bottom:16px;
}

nav.menu ul.second{
  font-size: 16px;
  border-bottom:3px solid #fff;
  margin-bottom:20px;
  padding-bottom:6px;
}

nav.menu ul li{
  padding:0;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
nav.menu ul li a{
  color: #fff;
  text-decoration: none;
}

nav.menu span{
  margin-left:26px;
  color:#fff;
}

#logo{
  position: absolute;
  left: 20px;
  top: 20px;
  height: 80px;
  width: 80px;
  margin:0;
}
#logo a{
  display:inline-block;
  height: 80px;
  width: 80px;
  background: transparent url('../images/logo.png?r=123456') scroll no-repeat center top;
  background-size: 80px 80px;
  text-indent: -9999px;
}

search-bar-home{
  width: 400px;
  display: block;
  background-color: #fff;
  position:absolute;
  right:20px;
  top:20px;
}
search-bar-home .bar{
  padding: 10px;
}
search-bar-home md-input-container{
  padding:0;
  margin:0;
}
header{
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 130px;
  background: transparent url('../images/header.png?r=123456') scroll no-repeat center top;
}
#header{
  height: 430px;
  background: transparent url('../images/header.png?r=123456') scroll no-repeat center -130px;
}
#header h1{
  text-align: center;
}
#content{
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

activity-featured-list md-card div.img{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

activity-featured-list md-card{
  width:300px;
  height:300px;
}

.list{
  margin: 20px;
}
.list h2{
  font-size: 40px;
  text-transform: uppercase;
  border: 5px solid #000;
  width: 300px;
  text-align: center;
  margin: 20px auto 60px;
}
md-card{
  position: relative;
}
md-card span.price{
  position:absolute;
  right: 20px;
  top: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  background: transparent url('images/price.png') scroll no-repeat center center;
  line-height: 100px;
  font-weight: bold;
  color: red;
}
.activities md-card span.price{
  background: transparent url('images/pricered.png') scroll no-repeat center center;
  color: #fff;
  background-size: 100px 96px;
}
activity-featured-list md-card-title{
  position: absolute;
  top: 50%;
  left: 0;
  right:0;
  margin-top:-45px;
  text-shadow: 0px 0px 8px #000;
}
md-card-title .md-headline{
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.detail > img{
  width: 70%;
  margin:0 auto;
}
.detail h2{
  text-align: center;
  color: red;
  font-size: 30px;
  text-decoration:underline;
}
.detail p{
  margin: 0 auto;
  text-align: center;
}
.detail .buttons{
  margin: 30px auto;
}
.detail .md-raised{
  width: 180px;
}

.info{
  width: 500px;
  margin: 40px auto 0;
}

.info md-content{
  padding: 0;
  border: 2px solid red;
  margin-bottom: 20px;
}

.info md-content h3{
  background: red;
  padding: 10px;
  margin:0;
  color: #fff;
  display: inline-block;
}

.info p{
  text-align: left;
  padding: 20px;
}

.w50{
  width:50%;
}

.tagline{
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.activities md-card-title .md-headline{
  color: #000;
  text-align: left;
  margin-top: 10px;
}
.activities md-card-title .md-headline,
.activities md-card-title .md-subhead{
  margin-right: 130px;
}
.activities md-card-title{
  position: relative;
  margin: 0;
  top: 0;
  padding: 0;
}
.activities md-card md-card-title md-card-title-media{
  margin-top: 0;
}
.activities md-card md-card-title md-card-title-media .md-media-lg{
  width: 200px;
  height: 200px;
}

.activities .fa-star.active{
  color: orange;
}

footer{
  height:220px;
  margin-top:80px;
  background: #ddd url('../images/logofooter.png?r=123456') scroll no-repeat center center;
  background-size: 100px 100px;
}