<section layout="row" layout-align="start start" layout-wrap>
  <md-card flex="30" ng-repeat="featuredActivity in afl.featuredActivities" ng-click="afl.goToActivity(featuredActivity._id)">
    <img ng-src="images/tours/{{featuredActivity._id}}.png" class="md-card-image" alt="Washed Out">
    <span class="price">{{featuredActivity.prices[0].priceInCents | currency:"$":0}}</span>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{featuredActivity.name}}</span>
        <span class="tagline">{{featuredActivity.summaryDescription}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>
</section>