<div id="main" class="container" layout="column">
    <div flex>
      <search-bar-home style="margin: 30px auto"></search-bar-home>
    </div>
    <section class="detail" layout="column">
      <img ng-src="images/tours/{{vm.activity._id}}.png" />
      <div flex layout="row" layout-align="start start" style="margin-top:20px">
        <div flex="10">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div flex>
          <a href="/">10 reviews</a>
        </div>
      </div>
      <h2 flex>{{vm.activity.name}}</h2>
      <p class="w50">{{vm.activity.summaryDescription}}</p>
      <div class="buttons" layout="row" layout-align="center center">
        <md-button flex="none" class="md-raised md-warn" ng-click="vm.addToWishlist($event)">Add to Wishlist</md-button>
        <span flex="20"></span>
        <md-button flex="none" class="md-raised md-primary">Book Now</md-button>
      </div>
      
      <div class="info">
        <md-content>
          <h3>What you will do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci vel dui hendrerit condimentum. Nullam aliquam mauris vitae massa ultricies egestas. Curabitur eget metus id ipsum placerat pharetra vitae a justo. Cras eu tincidunt velit. Maecenas dictum dignissim ipsum, in venenatis purus commodo ac. Integer sit amet rhoncus felis. Nam ac mi eget lacus bibendum tincidunt. Sed odio est, ultrices tincidunt dolor ut, aliquet imperdiet neque. Etiam a consequat nulla. Nunc accumsan mauris volutpat egestas pulvinar. Cras eget felis viverra risus blandit luctus non volutpat dolor.</p>
          <p>Aliquam vestibulum eu elit eu pellentesque. Aenean aliquam accumsan urna, a congue ligula cursus pharetra. Suspendisse suscipit feugiat quam, ut condimentum lacus lacinia a. Ut venenatis laoreet malesuada. Etiam ut odio a eros interdum elementum. Sed in lorem nec quam pretium tristique. Sed feugiat facilisis auctor. Curabitur feugiat pharetra justo quis sodales. Duis placerat ex et justo pharetra, sed efficitur nisi dapibus.</p>
        </md-content>
        
        <md-content>
          <h3>What's included</h3>
          <ul>
            <li>Aliquam vestibulum eu elit eu pellentesque</li>
            <li>Curabitur feugiat pharetra</li>
            <li>Aliquam vestibulum eu elit eu pellentesque</li>
            <li>Curabitur feugiat pharetra</li>
            <li>Aliquam vestibulum eu elit eu pellentesque</li>
            <li>Curabitur feugiat pharetra</li>
          </ul>
        </md-content>
      </div>
    </section>
</div>