<div id="main" class="container" layout="column" style="margin-top:40px">
    <section flex class="detail activities" layout="row">
      
      <md-content flex="70" layout="column">
        <md-progress-linear ng-if="!vm.wasLoaded" md-mode="indeterminate"></md-progress-linear>
        <md-card flex ng-repeat="activity in vm.wishlists.tours">
          <md-card-title>
            <md-card-title-media>
              <div flex class="md-media-lg card-media" style="background: transparent url(images/tours/{{activity._id}}.png) scroll no-repeat center center;background-size:380px auto">
              </div>
            </md-card-title-media>
            <span flex="none" style="width:20px"></span>
            <md-card-title-text>
              <span class="md-headline">{{activity.name}}</span>
              <span class="md-subhead">{{activity.summaryDescription}}</span>
              <span class="price">{{activity.priceInCents / 100 | currency:"$":0}}</span>
              <div flex>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <md-card-actions layout="row" layout-align="start center">
                <md-button flex="none" class="md-raised md-warn" ng-click="vm.addToWishlist($event, activity._id)">Add to Wishlist</md-button>
                <md-button flex="none" class="md-raised md-primary">Book Now</md-button>
              </md-card-actions>
            </md-card-title-text>      
          </md-card-title>
        </md-card>
      </md-content>
      
      <md-content class="refines users" flex="30" layout="column">
        <md-progress-linear ng-if="!vm.wasUsersLoaded" md-mode="indeterminate"></md-progress-linear>
        <md-card>
          <md-list>
            <md-list-item ng-repeat="user in vm.wishlists.users" ng-click="goToPerson(person.name, $event)" class="noright">
                <img alt="{{user.firstName}}" ng-src="images/users/{{user._id}}.png" class="md-avatar" />
                <p>{{user.firstName}} {{user.lastName}} <br> <span ng:class="{'red':user.confirmed == 'Confirmed'}">{{user.confirmed ? 'Confirmed' : 'Waiting confirmation'}}</span></p>
              </md-list-item>
          </md-list>
        </md-card>
        
      </md-content> 
      </div>
    </section>
</div>